#hamburg-menu {
  position: relative;

  width: 30px;
  height: 16px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  span {
    position: absolute;

    display: block;

    height: 3px;
    width: 50%;

    background: #ffffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }

  span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  span:nth-child(1),
  span:nth-child(2) {
    top: 0px;
  }

  span:nth-child(3),
  span:nth-child(4) {
    top: 10px;
  }

  span:nth-child(5),
  span:nth-child(6) {
    top: 20px;
  }
}

#hamburg-menu.open span:nth-child(1),
#hamburg-menu.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburg-menu.open span:nth-child(2),
#hamburg-menu.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburg-menu.open span:nth-child(1) {
  left: 1px;
  top: 5px;
}

#hamburg-menu.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 5px;
}

#hamburg-menu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#hamburg-menu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#hamburg-menu.open span:nth-child(5) {
  left: 0;
  top: 16px;
}

#hamburg-menu.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 16px;
}

@media screen and (max-width: 820px) {
  #hamburg-menu {
    width: 70px;
    height: 50px;
    span {
      height: 10px;
    }

    span:nth-child(3),
    span:nth-child(4) {
      top: 18px;
    }
  
    span:nth-child(5),
    span:nth-child(6) {
      top: 35px;
    }
  }

  #hamburg-menu.open span:nth-child(1) {
    left: 5px;
    top: 5px;
  }

  #hamburg-menu.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 5px;
  }

  #hamburg-menu.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #hamburg-menu.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  #hamburg-menu.open span:nth-child(5) {
    left: 5px;
    top: 30px;
  }
  
  #hamburg-menu.open span:nth-child(6) {
    left: calc(50% - 1px);
    top: 30px;
  }
}
