.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 150px;

  width: 100%;

  background: #000000;

  &__introduction-wrapper {
    width: 100%;

    margin-top: 80px;
    padding-left: 60px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 59.1685px;
    line-height: 104px;
    color: #ffffff;
  }

  &__introduction-wrapper-text {
    span {
      color: #f6a5c1;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    padding: 0 60px;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 40%;
    height: 100%;
  }

  &__info-map {
    content: "";

    width: 350px;
    height: 200px;

    margin-top: 12px;

    background: red;
  }

  &__form-title {
    margin-bottom: 20px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 33.1453px;
    line-height: 58px;
    text-decoration-line: underline;
    color: #ffffff;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    padding: 40px;
    margin-top: 70px;

    border: 2.22769px solid #f8a5c2;
    border-radius: 22.2769px;
  }

  &__form-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 12px;

    width: 100%;

    span {
      margin-bottom: 12px;
    }

    input {
      outline: none;

      height: 52px;

      margin: 10px 0;
      padding-left: 15px;

      border: none;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;

      background: rgba(217, 217, 217, 0.2);
      border-radius: 10px;
    }

    textarea {
      outline: none;

      height: 100px;

      margin: 10px 0;
      padding: 15px;

      border: none;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;

      background: rgba(217, 217, 217, 0.2);
      border-radius: 10px;
    }
  }

  &__form-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;

    margin-top: 20px;
  }

  &__service-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 100px;
  }

  &__service-item {
    display: flex;
    align-items: center;

    cursor: pointer;

    div {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      color: #ffffff;
    }
  }

  &__confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;

    cursor: pointer;

    border: 1px solid #000000;
    border-radius: 10px;
  }

  &__map-wrapper {
    width: 100%;

    padding: 0 60px;
  }

  &__map {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 350px;

    margin-top: 60px;
    cursor: pointer;

    border-radius: 22.2769px;

    &:hover .map-layer {
      display: none;
    }
  }

  .map-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    background: rgb(162, 162, 162, 0.7);
  }

  &__map-title {
    margin-top: 50px;
    padding-bottom: 50px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
  }

  &__confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 153px;
    height: 45px;

    cursor: pointer;

    background: #f8a5c2;

    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 75px;
      color: #ffffff;
    }
  }

  &__footer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact-page {
    &__introduction-wrapper {
      padding-left: 60px;

      font-size: 55px;
      line-height: 104px;
    }

    &__service-item {
      div {
        font-size: 30px;
      }
    }
  }
}
