.animated-graph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 300px;

  cursor: pointer;

  background: #000000;

  &__item {
    position: relative;

    width: 150px;
    height: 70px;
  }

  &__item-1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__item-2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &:hover {
      z-index: 8;
    }
  }

  &__item-1-image {
    width: 150px;
    height: 70px;
  }

  &__item-2-image {
    width: 150px;
    height: 70px;

    cursor: pointer;
  }

  &__text-group {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 70px;
  }

  &__text-1 {
    position: absolute;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 70px;
    z-index: 14;

    span {
      color: #ffffff;
    }
  }

  &__text-2 {
    position: absolute;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 70px;

    span {
      color: #000000;
    }
  }
}
