.custom-navigation-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 3px solid #ffffff;
  border-radius: 83px;

  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .custom-navigation-button {
  
  }
}

