.carousel-wrapper {
}

.carousel {
  position: relative;
  width: 500px;
  height: 500px;
  border: 2px solid;
  border-radius: 50%;
  transition: 0.5s;
  // transform: rotate(15deg);
  transform-origin: center center;

  margin-top: 50px;
}

.carousel::before {
  /* content: ""; */
  position: absolute;
  width: 50%;
  height: 100%;
  background: #000;
  border-radius: 50% 0 0 50%;
}
// с = 2 Pr
.item-carousel {
  position: absolute;
  background: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 2px;
  bottom: 0;
  transition: 0.5s;

  &.next {
    background: blue;
    color: white;
  }
  &.prev {
    background: green;
    color: white;
  }

  &.active {
    width: 200px;
    height: 200px;

    background: #000;
    color: white;
  }

  &:nth-child(1) {
    right: -20px;
    top: 200px;
  }
  &:nth-child(2) {
    right: 40px;
    top: 373px;
  }
  &:nth-child(3) {
    right: 162px;
    top: 402px;
  }
  &:nth-child(4) {
    right: 440px;
    top: 365px;
  }
  &:nth-child(5) {
    right: 500px;
    top: 199px;
  }
  &:nth-child(6) {
    right: 438px;
    top: 27px;
  }
  &:nth-child(7) {
    right: 275px;
    top: -37px;
  }
}
