.grid-project {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 700px;

  // margin-bottom: 40px;

  background: #000000;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;

    padding-top: 40px;
    padding-left: 20px;

    border-top: 1px solid #f8a5c2;

    span {
      font-family: "Times New Roman", Times, serif;
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 78px;
      color: #ffffff;
      font-style: italic;
    }
  }

  &__show-more-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    margin: 40px 0;

    padding: 0 20px;
  }

  &__show-more-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 60px;

    border: 1px solid #f8a5c2;
    border-radius: 40px;

    span {
      color: #ffffff;
      font-size: 20px;
    }
  }

  &__view-all {
    display: flex;
    align-items: center;
  }

  &__view-all-text {
    margin-right: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 78px;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 500px) {
  .grid-project {
  }
}
