.grid-project {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 700px;

  padding: 40px 80px 0 80px;

  background: #000000;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;

    padding-top: 80px;
    padding-left: 60px;
    margin-bottom: 60px;

    border-top: 1px solid #f8a5c2;

    span {
      font-family: 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 78px;
      color: #ffffff;
      font-style: italic;
    }
  }

  &__show-more-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    margin: 40px 0;
  }

  &__show-more-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 40px;

    border: 1px solid #f8a5c2;
    border-radius: 40px;

    span {
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 768px) {
  .grid-project  {
    padding: 0;
  }
}

