.introduction-carousel {
  &__item {
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    border-radius: 10px;
  }

  &__item-image {
    width: 1087px;
    height: 717px;
  }

  .ant-carousel{
    .slick-dots-bottom{
      bottom: -50px;
    }
  }
}
