.introduction-carousel {
  &__item {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;

    width: 100%;

    border-radius: 10px;
  }

  &__item-image {
    width: 100%;
    height: 850px;
  }

  .ant-carousel{
    .slick-dots-bottom{
      bottom: -50px;
    }
  }
}
