.introduction-carousel {
  &__item {
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    border-radius: 10px;
  }

  &__item-image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
  }

  &__item-image {
    width: 1304.4px;
    height: 860.4px;
  }

  .ant-carousel{
    .slick-dots-bottom{
      bottom: -50px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .introduction-carousel{
    &__item-image {
      width: 1043.52px;
      height: 688.32px;
    }
  }
}

@media screen and (max-width: 1328px) {
  .introduction-carousel{
    &__item-image {
      width: 834.816;
      height: 660.656px;
    }
  }
}


@media screen and (max-width: 1180px) {
  .introduction-carousel{
    &__item-image {
      width: 800.8528px;
      height: 540.5248px;
    }
  }
}

@media screen and (max-width: 1180px) {
  .introduction-carousel{
    &__item-image {
      width: 800.8528px;
      height: 540.5248px;
    }
  }
}

@media screen and (max-width: 950px) {
  .introduction-carousel{
    &__item-image {
      width: 650.8528px;
      height: 460.5248px;
    }
  }
}
