.web-development-view {
  width: 100%;

  padding: 120px 40px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    padding-bottom: 120px;
  }

  &__title {
    position: absolute;
    top: 490px;

    width: 600px;

    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__content-first {
    display: flex;
    flex-direction: column;

    width: 47%;

    margin-right: 30px;
  }

  &__content-section-title {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 62.0755px;
    line-height: 67px;
    color: #ffffff;
  }

  &__content-section-text {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20.1889px;
    line-height: 34px;
    color: #ffffff;
    text-align: justify;
  }

  &__content-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 47%;
  }

  &__content-second-item {
    display: flex;
    flex-direction: column;
  }

  &__image {
    position: relative;
    width: 670px;
    height: 600px;
  }

  &__image-layer {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 15px;

    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
  }

  &__image-large {
    width: 670px;
    height: 700px;
  }
}

@media screen and (max-width: 1920px) {
  .web-development-view {
    &__image {
      width: 864.8px;
      height: 864.8px;
    }

    &__image-large {
      width: 856.9px;
      height: 870px;
    }
  }
}

@media screen and (max-width: 1468px) {
  .web-development-view {
    &__image {
      width: 620px;
      height: 560px;
    }

    &__title {
      position: absolute;
      top: 490px;

      font-size: 80px;
      line-height: 100px;
    }

    &__image-large {
      width: 620px;
      height: 650px;
    }
  }
}

@media screen and (max-width: 1368px) {
  .web-development-view {
    &__image {
      width: 570px;
      height: 500px;
    }

    &__title {
      position: absolute;
      top: 430px;

      font-size: 75px;
      line-height: 100px;
    }

    &__image-large {
      width: 570px;
      height: 600px;
    }
  }
}

@media screen and (max-width: 1268px) {
  .web-development-view {
    &__image {
      width: 550px;
      height: 480px;
    }

    &__title {
      top: 410px;
    }

    &__image-large {
      width: 550px;
      height: 580px;
    }
  }
}

@media screen and (max-width: 1168px) {
  .web-development-view {
    &__image {
      width: 490px;
      height: 460px;
    }

    &__title {
      top: 380px;
    }

    &__image-large {
      width: 490px;
      height: 550px;
    }
  }
}

@media screen and (max-width: 1068px) {
  .web-development-view {
    &__image {
      width: 450px;
      height: 380px;
    }

    &__title {
      top: 360px;

      width: 400px;

      font-size: 55px;
      line-height: 75px;
    }

    &__image-large {
      width: 450px;
      height: 530px;
    }
  }
}

@media screen and (max-width: 968px) {
  .web-development-view {
    &__image {
      width: 410px;
      height: 400px;
    }

    &__image-large {
      width: 370px;
      height: 480px;
    }

    &__title {
      top: 380px;
    }
  }
}

@media screen and (max-width: 868px) {
  .web-development-view {
    &__image {
      width: 330px;
      height: 300px;
    }

    &__title {
      top: 280px;

      font-size: 50px;
      line-height: 75px;
    }

    &__image-large {
      width: 330px;
      height: 430px;
    }
  }
}

@media screen and (max-width: 768px) {
  .web-development-view {
    padding: 90px 20px;

    &__content {
      flex-direction: column;
      align-items: unset;

      padding: 0;
    }

    &__content-first {
      width: 100%;

      margin: 0;
    }

    &__title {
      top: 470px;

      width: 450px;

      font-size: 70px;
      line-height: 90px;
    }

    &__content-second {
      width: 100%;
    }

    &__image {
      width: 100%;
      height: 600px;
    }

    &__image-large {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .web-development-view {
    padding: 90px 20px;

    &__content {
      flex-direction: column;
      align-items: unset;

      padding: 0;
    }

    &__content-first {
      width: 100%;

      margin: 0;
    }

    &__title {
      top: 330px;

      width: 350px;

      font-size: 55px;
      line-height: 70px;
    }

    &__content-second {
      width: 100%;
    }

    &__image {
      width: 100%;
      height: 390.4px;
    }

    &__image-large {
      display: none;
    }
  }
}

@media screen and (max-width: 390px) {
  .web-development-view {
    padding: 90px 20px;

    &__content {
      flex-direction: column;
      align-items: unset;

      padding: 0;
    }

    &__content-first {
      width: 100%;

      margin: 0;
    }

    &__title {
      top: 330px;

      width: 350px;

      font-size: 55px;
      line-height: 70px;
    }

    &__content-second {
      width: 100%;
    }

    &__image {
      width: 100%;
      height: 335px;
    }

    &__image-large {
      display: none;
    }
  }
}

