.project-carousel {
  position: relative;

  margin-top: 70px;

  &__carousel-container {
    position: relative;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    width: 100vw;

    margin-top: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__carousel-item {
    margin: 0 20px;
    cursor: pointer;
  }

  &__carousel-item-img {
    width: 600px;
    height: 470px;

    border-radius: 10px;
  }

  &__carousel-button-group {
    position: absolute;
    top: 40%;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100px;

    padding: 0 40px;

    button {
      width: 50px;
      height: 50px;

      cursor: pointer;

      border: none;
      border-radius: 999px;
      background: rgb(226, 226, 226, 0.7);
      span {
        font-size: 30px;
        color: #ffffff;
      }
    }
  }

  .dots {
    display: flex;
    justify-content: center;

    margin-top: 40px;
  }

  .dot-normal {
    display: inline-block;

    height: 9.41px;
    width: 9.41px;

    border-radius: 50%;
    cursor: pointer;

    margin: 0 5px;
    background-color: #ccc;

    transition: 0.5s;
  }

  .dot-active {
    display: inline-block;

    width: 18.43px;
    height: 9.41px;

    border-radius: 11.5167px;
    cursor: pointer;

    margin: 0 5px;
    background-color: #ccc;

    transition: 0.5s;
  }

  .active,
  .dot:hover {
    background-color: #e37a9f;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
