.responsive-client {
  width: 100%;

  background: #090000;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;

    padding: 40px 0 0 20px;  

    border-top: 1px solid #f8a5c2;

    span {
      font-family: "Times New Roman", Times, serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 78px;
      color: #ffffff;
      font-style: italic;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    overflow: hidden;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 100px;
  }

  &__item-image {
    width: 120px;
    height: 90px;
  }
}

@media screen and (max-width: 392px) {
  .responsive-client {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      width: 120px;
      height: 100px;
    }
  }
}
