.about-page {
  width: 100%;
  height: 100%;

  padding-top: 288px;

  background: #000000;

  &__first-section {
    display: flex;
    flex-direction: column;

    width: 100%;

    background: #000000;
  }

  &__first-section-slogan {
    width: 100%;

    padding-left: 140px;

    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 128px;
    color: #ffffff;
  }

  .animate__animated.animate__bounce {
    --animate-duration: 1s;
  }

  &__first-section-title {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 0 20px 0 750px;
  }

  &__first-section-title-outline {
    span {
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      font-weight: 700;
      font-size: 80px;
      line-height: 156px;
      color: #f6a5c1;
    }
  }

  &__first-section-subtitle {
    width: 750px;
    height: 200px;

    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 39.0476px;
      line-height: 68px;
      color: #ffffff;
    }
  }

  &__first-section-subtitle-item {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 39.0476px;
    line-height: 68px;
    color: #ffffff;

    span {
      margin: 10px;
      font-family: "Times New Roman", Times, serif;
      color: #f6a5c1;
      font-style: italic;
      font-size: 43px;
    }
  }

  &__divider {
    content: "";

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
    height: 2px;

    margin-top: 50px;

    transition: ease-in-out 1s;
  }

  &__divider-content {
    content: "";

    width: calc(100vw - 770px);
    height: 2px;

    background: #ffffff;
  }

  &__second-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    min-height: 600px;

    padding: 117px 300px;

    background: #000000;
  }

  &__second-section-top {
    width: 600px;

    span {
      font-family: "Times New Roman", Times, serif;
      font-style: normal;
      font-weight: 700;
      font-size: 25.9788px;
      line-height: 45px;
      color: #ffffff;
    }
  }

  &__second-section-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-top: 131px;
  }

  &__second-section-bottom-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 190px;
    height: 190px;

    margin-left: 120px;

    border-radius: 999px;
    border: 1px solid #ffffff;
  }

  &__second-section-bottom-text {
    width: 405px;

    span {
      font-family: "Arial";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 34px;
      color: #ffffff;
    }
  }

  &__image-divider {
    content: "";

    width: 100%;
    height: 520px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  &__third-section {
    width: 100%;

    background: #000000;
  }

  &__third-section-top {
    width: 100%;

    padding: 43px 0 0 750px;
  }

  &__third-section-top-title {
    width: 700px;
    height: 204px;

    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: 99px;
  }

  &__third-section-top-outline {
    span {
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      font-weight: 700;
      font-size: 73px;
      line-height: 99px;
      color: #f6a5c1;
    }
  }

  &__third-section-middle {
    width: 700px;

    margin: 106px 0 0 750px;

    span {
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 25.9788px;
      line-height: 45px;
      color: #ffffff;
    }
  }

  &__third-section-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    min-height: 400px;

    padding: 0 0 200px 300px;
    margin-top: 100px;
  }

  &__third-section-bottom-text {
    width: 426px;

    margin-left: 250px;

    span {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
      color: #ffffff;
    }
  }

  &__third-section-graph {
    margin-bottom: 200px;
  }

  &__fourth-section {
    width: 100%;

    background: #000000;
  }

  &__fourth-section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 40px 151px;
  }

  &__fourth-section-title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;

    span {
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 73px;
      line-height: 99px;
      color: #ffffff;
    }
  }

  &__fourth-section-title-text-highlight {
    margin: 10px 0;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 100px;
    line-height: 99px;
    color: #f6a5c1;
  }

  &__fourth-section-title-divider {
    width: 307px;
    height: 2px;

    background: #ffffff;
  }

  &__fourth-section-title-image {
    margin-right: 20px;
  }

  &__fourth-section-content {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 0 300px;
  }

  &__fourth-section-content-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-bottom: 100px;
  }

  &__fourth-section-item-text {
    width: 40%;

    span {
      font-family: "Arial";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 34px;
      color: #ffffff;
    }
  }

  &__fourth-section-graph {
    width: 40%;

    padding-left: 100px;

    padding-bottom: 200px;
  }

  &__fifth-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 700px;

    padding-top: 150px;

    background: #000000;
  }

  &__fifth-section-text {
    width: 756px;

    margin-top: 250px;

    div:nth-child(1) {
      margin-bottom: 84px;

      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 45px;
      color: #ffffff;
    }

    div:nth-child(2) {
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 45px;
      color: #ffffff;
    }
  }

  &__final-section {
    width: 100%;
    min-height: 700px;

    padding-top: 200px;

    background: #000000;
  }

  &__employee-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    padding-left: 100px;

    background: #000000;
  }

  &__employee-group-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 280px;
    height: 200px;

    span {
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 99px;
      color: #ffffff;
      text-transform: capitalize;
    }
  }

  &__employee-group-line {
    flex: 1;

    height: 2px;
    background: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .about-page {
    &__first-section-title-outline {
      span {
        font-size: 110px;
        line-height: 156px;
      }
    }

    &__first-section-title {
      padding: 0 20px 0 570px;
    }

    &__third-section-middle {
      width: 100%;
      margin: 0;
    }

    &__third-section-bottom {
      padding: 0;
    }

    &__third-section-bottom-text {
      width: 100%;

      margin-left: 0;
    }

    &__second-section-bottom-image {
      display: none;
    }

    &__second-section {
      padding: 117px 60px;
    }

    &__second-section-top {
      width: 80%;

      span {
        font-size: 60px;
        line-height: 70px;
        text-align: justify;
      }
    }

    &__second-section-bottom-text {
      width: 80%;

      margin-left: 250px;

      span {
        font-size: 60px;
        line-height: 70px;
        text-align: justify;
      }
    }

    &__third-section-bottom {
      flex-direction: column-reverse;
    }

    &__third-section-top {
      padding: 43px 0 0 600px;
    }

    &__third-section-graph {
      margin: 150px 0 300px 0;
    }

    &__third-section-middle {
      width: 80%;

      margin: 106px 0 0 60px;

      span {
        font-size: 60px;
        line-height: 70px;
        text-align: justify;
      }
    }

    &__third-section-bottom-text {
      width: 75%;
      span {
        font-size: 55px;
        line-height: 65px;
        text-align: justify;
      }
    }

    &__fourth-section-title {
      padding: 40px 60px;
    }

    &__fourth-section-content {
      padding: 151px 60px;
    }

    &__fourth-section-content-item {
      flex-direction: column;
    }

    &__fourth-section-graph {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: 100%;

      margin: 120px 0;
      padding-left: 0;
    }

    &__fourth-section-item-text {
      width: 100%;

      div {
        font-size: 65px;
        text-align: justify;
        line-height: 80px;
        font-style: italic;
        color: #ffffff;
      }
    }

    &__fifth-section-text {
      padding: 0 60px;

      width: 100%;

      div:nth-child(1) {
        font-size: 60px;
        text-align: justify;
        line-height: 70px;
      }
    }

    &__fifth-section-graph {
      margin-bottom: 150px;
    }

    &__image-divider {
      background-attachment: unset;
    }

    &__divider-content {
      width: 830px;
    }

    &__footer {
      display: none;
    }
  }
}
