.normal-circle-group {
  position: relative;
  width: 300px;
  height: 300px;

  &__item {
    content: "";

    position: absolute;

    width: 300px;
    height: 300px;

    border: 2px solid #ffffff;
    border-radius: 999px;

    transition: ease-in-out 1s;
  }

  .circle-1 {
    top: 0;
    left: 0;
  }

  .circle-2 {
    top: 150px;
    left: -85px;
  }

  .circle-3 {
    top: 150px;
    right: -85px;
  }

  &__text-wrapper {
    position: absolute;
    top: 0;
    left: -75px;
  }

  &__text {
    position: relative;

    width: 450px;
    height: 450px;

    --animate-duration: 2s;
  }

  &__text-item {
    position: absolute;

    span {
      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
      color: #ffffff;
    }
  }

  .text-1 {
    width: 160px;
    height: 25px;

    top: 75px;
    left: 175px;
  }

  .text-2 {
    top: 210px;
    left: 195px;
  }

  .text-3 {
    width: 160px;
    height: 25px;

    bottom: 71px;
    left: 60px;

    transform: rotate(40deg);
  }

  .text-4 {
    width: 160px;
    height: 25px;

    bottom: 110px;
    right: -5px;

    transform: rotate(-40deg);
  }

  .text-5 {
    width: 60px;
    height: 25px;

    top: 170px;
    left: 120px;
  }

  .text-6 {
    width: 80px;
    height: 25px;

    top: 170px;
    right: 90px;
  }

  .text-7 {
    width: 80px;
    height: 25px;

    bottom: 120px;
    right: 170px;
  }

  &__icon {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .normal-circle-group {
    width: 230px;
    height: 230px;

    &__item {
      width: 230px;
      height: 230px;
    }

    &__text {
      width: 230px;
      height: 230px;
    }

    .circle-1 {
      top: 0;
      left: 0;
    }

    .circle-2 {
      top: 105px;
      left: -70px;
    }

    .circle-3 {
      top: 105px;
      right: -70px;
    }

    &__text-item {
      span {
        font-size: 20px;
        line-height: 50px;
      }
    }

    .text-1 {
      min-width: 300px;

      top: 50px;
      left: 150px;
    }

    .text-2 {
      min-width: 300px;

      top: 155px;
      left: 160px;

      &__icon {
        width: 30px;
        height: 30px;
      }
    }

    .text-3 {
      min-width: 300px;

      bottom: -110px;
      left: 20px;
    }

    .text-4 {
      min-width: 300px;

      bottom: 20px;
      right: -280px;
    }

    .text-5 {
      top: 120px;
      left: 110px;

      width: 50px;
      height: 30px;

      span{
        line-height: 30px;
      }
    }

    .text-6 {
      top: 120px;
      right: -85px;

      width: 80px;
      height: 30px;

      span{
        line-height: 30px;
      }
    }

    .text-7 {
      bottom: -30px;
      right: -20px;

      width: 80px;
      height: 30px;

      span{
        line-height: 30px;
      }
    }
  }
}
