.language-change {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 40px;

  cursor: pointer;

  border: 2px solid;
  border-radius: 100px;

  transition: ease-in-out 0.8s;

  &__title {
    position: absolute;
    top: 50;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;

    transition: ease-in-out 0.9s;
  }

  &__button {
    position: absolute;
    top: 50;
    z-index: 20;

    transition: ease-in-out 0.9s;
  }
}
