@font-face {
  font-family: "Montserrat";
  src: url('../public/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Montserrat";
  src: url('../public/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
  
body {
  margin: 0;
  #__next {
    min-width: 1440px;
  }
}

.layout {
  position: relative;

  max-width: 100%;
  height: 100vh;

  background: #000000;
}

.floated-language-change{
  position: fixed;
  bottom: 40px;
  left: 20px;
  z-index: 999999;
}

.footer {
  display: flex;
  justify-content: center;

  width: 100%;

  .footer-container {
    position: relative;

    width: 100%;
  }

  .footer-first {
    z-index: 9000;
    position: absolute;
    top: -240px;
    left: 0;

    transform: translateY(320px);
    transition: ease-in 0.9s;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 240px;

    padding: 25px 76.8px;

    border-bottom: 1px solid #323438;

    background: #131313;
  }

  .footer-first-item {
    width: 30%;
    height: 100%;
  }

  .info-group-text {
    font-family: Poppins, serif;
    font-size: 13px;
    font-weight: 700;
    color: #abadb3;
  }

  .info-group-title {
    cursor: pointer;

    font-family: Poppins, serif;
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
    transition: all 0.4s;

    &:hover {
      color: #f6a5c1;
    }
  }

  .info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 15px;

    span {
      font-family: Poppins, serif;
      font-size: 16px;
      color: #abadb3;
      line-height: 26px;
    }
  }

  .link-group-title {
    font-family: Poppins, serif;
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
  }

  .link-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 250px;

    margin-top: 8px;
  }

  .link-group-item {
    width: 120px;

    cursor: pointer;

    font-family: Poppins, serif;
    font-size: 18px;
    font-weight: 500;
    color: #abadb3;
    line-height: 35px;

    transition: all 0.4s;

    &:hover {
      color: #f6a5c1;
    }
  }

  .footer-second {
    position: relative;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 94px;

    padding: 0 76.8px;

    background: #131313;

    &:hover .footer-first {
      display: flex;
    }

    &:hover .footer-first {
      transform: none;
    }
  }

  .footer-second-item {
    display: flex;
    align-items: center;

    width: 31%;
  }

  .footer-patent {
    width: 30%;

    font-family: Poppins, serif;
    font-size: 16px;

    span {
      color: #abadb3;
      font-weight: 500;
    }

    a {
      margin-left: 4px;

      color: #fafafa;
      text-decoration: none;

      transition: all 0.4s;
      &:hover {
        color: #f6a5c1;
      }
    }
  }

  .social-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 124px;
    height: 38px;

    .social-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: 38px;
      height: 38px;

      a {
        color: #fafafa;
        text-decoration: none;
      }
    }
  }
}
