.home-page {
  position: relative;

  width: 100%;
  height: 100%;

  padding-top: 120px;
  &__introduction-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    min-height: 700px;

    padding: 100px 120px;

    background: #000000;
  }

  &__introduction-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 77px 0;

    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 190px;
      line-height: 156px;
      text-shadow: 2px 2px 0 #f6a5c1, 2px -2px 0 #f6a5c1, -2px 2px 0 #f6a5c1,
        -2px -2px 0 #f6a5c1, 2px 0px 0 #f6a5c1, 0px 2px 0 #f6a5c1,
        -2px 0px 0 #f6a5c1, 0px -2px 0 #f6a5c1,
        0px 0px 3px rgba(246, 165, 193, 0);
    }
  }

  &__scroller {
    position: relative;
    overflow: hidden;

    height: 160px;
    width: 50em;

    margin: 20px 0 0 250px;

    line-height: 160px;

    span {
      position: absolute;
      top: 0;
      animation: slide 8s infinite;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 160px;
      text-shadow: 2px 2px 0 #f6a5c1, 2px -2px 0 #f6a5c1, -2px 2px 0 #f6a5c1,
        -2px -2px 0 #f6a5c1, 2px 0px 0 #f6a5c1, 0px 2px 0 #f6a5c1,
        -2px 0px 0 #f6a5c1, 0px -2px 0 #f6a5c1,
        0px 0px 3px rgba(246, 165, 193, 0);
    }
  }

  &__introduction-image-container {
    width: 100%;
  }

  &__introduction-image {
    width: 100%;
    height: 900px;
  }

  &__introduction-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
    height: 600px;

    margin: 50px 0 20px 0;
    padding: 0 60px;
  }

  &__introduction-text-group {
    width: 60%;

    div{
      margin: 40px 0;
    } 

    span {
      font-family: "Montserrat";
      font-style: italic;
      font-weight: 500;
      font-size: 40px;
      line-height: 50px;
      color: #ffffff;
    }

    .animate__animated.animate__slideInUp {
      --animate-duration: 2s;
    }

    .animate__animated.animate__slideInUp {
      --animate-duration: 2s;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
  }

  &__grid-project {
    display: none;
  }

  &__project-carousel-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 800px;

    padding: 80px 120px;

    background: #000000;
  }

  &__section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    padding-top: 80px;
    margin-bottom: 20px;

    border-top: 1px solid #f8a5c2;

    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 78px;
      color: #ffffff;
    }
  }

  &__project-circle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 700px;

    padding: 80px 120px;
  }

  &__project-info {
    width: 50%;
  }

  &__project-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 50%;
  }

  &__responsive-client-container{
    display: none;   
  }

  &__service-section{
    width: 100%;
  }

  &__client-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 500px;

    padding: 80px 120px;

    background: #000000;

    overflow: hidden;
  }

  .animted {
    &__client-title {
      span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        text-align: center;
        color: #ffffff;
        filter: blur(2px);
      }
    }
  }

  &__divider-container {
    width: 100%;
    height: 417px;

    background-image: url("../../public//static//dividerBg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  &__connection-container {
    display: none;
  }

  &__footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 400px;

    padding: 120px;

    background: #000000;
  }

  &__footer-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 60%;
  }

  &__footer-right {
    width: 35%;
  }

  &__footer-info-group-title {
    cursor: pointer;

    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    color: #fafafa;
    transition: all 0.4s;

    &:hover {
      color: #f6a5c1;
    }
  }

  &__footer-info-group-text {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 700;
    color: #abadb3;
  }

  &__footer-info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 15px;

    span {
      font-family: "Montserrat";
      font-size: 22px;
      color: #abadb3;
      line-height: 30px;
    }
  }

  &__footer-left-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 720px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 88px;
    color: #ffffff;
  }

  &__footer-left-title-highlight {
    width: 57%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 88px;
    font-style: italic;
    color: #ffffff;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -0.88em;
  }
  50% {
    top: -1.9em;
  }
  75% {
    top: -2.9em;
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    &__first-section{
      padding: 0;
    }

    &__introduction-image-container {
      display: none;
    }

    &__project-carousel-container {
      display: none;
    }

    &__grid-project {
      display: block;
    }

    &__responsive-client-container{
      display: block;
    }

    &__connection-container {
      display: block;
    }

    &__client-container {
      display: none;
    }

    &__divider-container {
      display: none;
    }
  }
}
