.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 100%;

  transition: ease-in-out 0.4s;

  .second {
    position: relative;

    transition: ease-in-out 0.7s;
    backdrop-filter: blur(10px);
    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      height: 80px;
      width: 100%;

      padding: 0 52.07px;

      .logo-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;

        border-radius: 8px;

        cursor: pointer;

        transform: rotate(45deg);

        .logo {
          width: 43px;
          height: 43px;

          transform: rotate(-45deg);
        }
      }

      .left-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .left-menu-responsive-button {
          display: none;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          width: 60px;
          height: 60px;

          border-radius: 999px;

          transition: ease-in-out 0.8s;
        }

        .responsive-floated-language-change {
          display: none;

          margin-right: 40px;
        }

        .left-menu-text {
          margin-right: 30px;

          font-weight: 600;
          font-size: 18px;

          transition: ease-in-out 0.6s;
        }

        .menu-grid-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;

          margin-top: 15px;

          .menu-grid-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 120px;
            height: 60px;

            cursor: pointer;

            font-style: normal;
            font-weight: 470;
            font-size: 16px;

            transition: ease-in-out 1s;

            span {
              color: #ffffff;

              transition: ease-in-out 0.6s;
            }

            &:hover {
              &:after {
                content: "";

                width: 40px;
                height: 2px;

                margin-top: 13px;

                border-radius: 999px;

                background: #f6a5c1;

                transition: ease-in-out 0.6s;
              }

              span {
                color: #f6a5c1;
              }
            }

            &:after {
              content: "";

              width: 0;
              height: 2px;

              margin-top: 15px;

              background: #f6a5c1;
            }
          }

          .menu-grid-item-active {
            span {
              color: #f6a5c1;
            }

            &:after {
              content: "";

              width: 10px;
              height: 10px;

              margin-top: 5px;

              border-radius: 999px;

              background: #f6a5c1;
            }
          }
        }
      }
    }
  }
}

.navigation-menu-wrapper {
  position: fixed;
  left: 0;
  top: 70px;
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  padding-top: 40px;

  background: rgba(0, 0, 0);

  transition: ease-in-out 0.8s;

  .item-wrapper {
    display: none;
  }

  .item-wrapper-show {
    display: flex;
    flex-direction: column;
    align-items: center;

    animation-duration: 2s;
  }

  .item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    color: #ffffff;

    transition: ease-in-out 0.5s;
    &:hover {
      color: #f6a5c1;
    }

    .animate__animated.animate__slideInDown {
      --animate-delay: 1.5s;
      --animation-duration: 2s;
    }
  }
}

.responsive-navigation-menu-wrapper {
  position: fixed;
  top: 200px;
  z-index: 999;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: 100%;

  padding: 150px 60px 170px 60px;

  background: #000000;

  transition: ease-in-out 0.8s;

  .navigation-group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    min-height: 900px;
  }

  .item {
    width: 100%;

    margin-bottom: 30px;
    span {
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      font-weight: 400;
      font-size: 140px;
      cursor: pointer;
      text-align: center;
      color: #ffffff;
    }
  }

  .social-group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 400px;

    margin: 30px 0;
  }

  .social-group-container-title {
    margin-bottom: 40px;
    span {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 60px;
      cursor: pointer;
      text-align: center;
      color: #dedede;
    }
  }
}

@media screen and (max-width: 820px) {
  .top-menu {
    width: 100%;
    .second {
      width: 100%;
      .content {
        height: 85px;

        padding: 20px;

        .logo-group {
          width: 50px;
          height: 50px;
          .logo {
            width: 43px;
            height: 43px;
          }
        }

        .left-menu {
          .left-menu-responsive-button {
            display: flex;

            width: 60px;
            height: 60px;
          }

          .responsive-floated-language-change {
            display: block;
          }

          .left-menu-responsive-grid {
            display: none;
          }
        }
      }
    }
  }

  .navigation-menu-wrapper {
    display: none;
    .item {
      width: 150px;
      font-size: 30px;
    }
  }

  .responsive-navigation-menu-wrapper {
    display: flex;
  }
}
