.connect-section {
  width: 100%;
  min-height: 700px;

  padding: 80px;

  background: #000000;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding-bottom: 84px;

    border-bottom: 1px solid #ffffff;
  }

  &__top-text {
    width: 700px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 59.6862px;
    line-height: 81px;
    color: #ffffff;

    span {
      color: #f6a5c1;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    padding: 84px 0 84px 0;

    border-bottom: 1px solid #ffffff;
  }

  &__bottom-left {
    width: 60%;
  }

  &__bottom-left-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin-bottom: 80px;

    span {
      margin-bottom: 17px;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 33.0909px;
      color: #ffffff;
    }
  }

  &__bottom-left-input {
    position: relative;

    display: flex;
    align-items: center;

    width: 520px;
    height: 62px;

    input {
      outline: none;

      width: 520px;
      height: 62px;

      padding-left: 15px;

      border: none;
      border-radius: 15px;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;
      background: rgba(217, 217, 217, 0.2);

      &::placeholder {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &__bottom-left-input-button {
    position: absolute;
    right: 10px;
  }

  &__bottom-right {
    width: 40%;

    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 33.0909px;
      color: #ffffff;
    }
  }
}
