.project-page {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  height: 100vh;

  background: #000000;
  padding-top: 130px;

  transition: ease-in-out 1s;

  &__content {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    transition: ease-in-out 1s;
  }

  &__title {
    position: absolute;
    top: 90px;

    width: 100%;

    font-family: Arial;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }

  &__layer {
    position: absolute;

    border-radius: 360px;

    background: rgba(255, 255, 255, 0.5);

    transition: ease-in-out 1s;

    overflow: hidden;
  }

  &__close-button {
    position: absolute;
    z-index: 12;
    top: 20px;
    right: 30px;

    cursor: pointer;

    font-size: 20px;
  }

  &__next-button {
    position: absolute;
    z-index: 12;
    bottom: 10px;
    right: 30px;
  }

  &__introduction {
    display: none;

    width: 100%;

    padding: 80px 20px;
  }

  &__introduction-first {
    margin-bottom: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;

    span {
      margin-right: 15px;
      font-family: "Times New Roman", Times, serif;
      color: #f6a5c1;
      font-weight: 700;
      font-size: 40px;
      font-style: italic;
    }
  }

  &__responsive-project-list {
    display: none;
  }

  &__project-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 2000px;
    min-height: 700px;
    white-space: nowrap;

    padding-bottom:90px;

    overflow-x: scroll;

    background: #000000;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__project-item {
    cursor: pointer;

    border-radius: 10px;

    margin: 0 20px;

    color: #ffffff;
  }

  &__project-item-image {
    width: 254px;
    height: 520px;
  }

  &__connect {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .project-page {
    &__content {
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 950px) {
  .project-page {
    &__project-item-image {
      width: 203.2px;
      height: 416px;
    }
  }
}

@media screen and (max-width: 768px) {
  .project-page {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow: unset;

    &__content {
      flex-direction: column;
      align-items: unset;

      overflow: unset;
    }

    &__title {
      display: none;
    }

    &__layer {
      display: none;
    }

    &__introduction {
      display: block;
    }

    &__project-list-wrapper {
      display: none;
    }

    &__responsive-project-list {
      display: block;
    }

    &__connect {
      display: block;
    }
  }
}
