.project-page {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  background: #000000;

  transition: ease-in-out 1s;

  &__layer {
    position: absolute;

    border-radius: 360px;

    background: rgba(255, 255, 255, 0.5);

    transition: ease-in-out 1s;

    overflow: hidden;
  }

  &__close-button {
    position: absolute;
    z-index: 12;
    top: 20px;
    right: 30px;

    cursor: pointer;

    font-size: 20px;
  }

  &__introduction {
    display: none;

    width: 100%;

    padding: 200px 60px 120px 60px;
  }

  &__introduction-first {
    margin-bottom: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #ffffff;

    span {
      margin-right: 15px;
      font-family: "Times New Roman", Times, serif;
      color: #f6a5c1;
      font-weight: 700;
      font-size: 100px;
      font-style: italic;
    }
  }

  &__introduction-second {
    font-size: 45px;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    font-style: italic;
    color: #ffffff;
  }

  &__responsive-project-list{
    display: none;
  }

  &__project-list-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 2000px;
    height: 100vh;
    white-space: nowrap;

    overflow-x: scroll;

    background: #000000;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__project-item {
    width: 270px;
    height: 500px;

    cursor: pointer;

    border-radius: 10px;

    margin: 0 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #ffffff;
  }

  &__connect{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .project-page {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow: unset;

    &__layer {
      display: none;
    }

    &__introduction {
      display: block;
    }

    &__project-list-wrapper {
      display: none;
    }

    &__responsive-project-list{
      display: block;
    }

    &__connect{
      display: block;
    }
  }
}
